PORT=3000

# Mainnet RPC Configuration
MAINNET_RPC_HOST=127.0.0.1
MAINNET_RPC_PORT=8332
MAINNET_RPC_USER=seu_usuario_mainnet
MAINNET_RPC_PASS=sua_senha_mainnet

# Testnet RPC Configuration  
TESTNET_RPC_HOST=127.0.0.1
TESTNET_RPC_PORT=18332
TESTNET_RPC_USER=seu_usuario_testnet
TESTNET_RPC_PASS=sua_senha_testnet

RPC_TIMEOUT=30000